$color-white: #fff;
.heading-primary {
	margin-bottom: 6rem;
	text-transform: uppercase;
	color: $color-white;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}
.heading-primary__main {
	display: block;
	font-size: 6rem;
	font-weight: 400;
	letter-spacing: 3.5rem;
	animation-name: moveInLeft;
	animation-duration: 1.5s;
	animation-timing-function: ease-out;
	/* 
	animation-delay: 3s;
	animation-iteration: 3;

	*/
}
.heading-primary__sub {
	display: block;
	font-size: 2rem;
	font-weight: 700;
	letter-spacing: 1.75rem;
	animation: moveInRight 1.5s ease-out;
	-webkit-animation: moveInRight 1.5s ease-out;
}

@keyframes moveInLeft {
	0% {
		opacity: 0;
		transform: translateX(-10rem);
		-webkit-transform: translateX(-10rem);
		-moz-transform: translateX(-10rem);
		-ms-transform: translateX(-10rem);
		-o-transform: translateX(-10rem);
	}
	80% {
		transform: translateX(1rem);
		-webkit-transform: translateX(1rem);
		-moz-transform: translateX(1rem);
		-ms-transform: translateX(1rem);
		-o-transform: translateX(1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
	}
}

@keyframes moveInRight {
	0% {
		opacity: 0;
		transform: translateX(10rem);
		-webkit-transform: translateX(10rem);
		-moz-transform: translateX(10rem);
		-ms-transform: translateX(10rem);
		-o-transform: translateX(10rem);
	}
	80% {
		transform: translateX(-1rem);
		-webkit-transform: translateX(-1rem);
		-moz-transform: translateX(-1rem);
		-ms-transform: translateX(-1rem);
		-o-transform: translateX(-1rem);
	}
	100% {
		opacity: 1;
		transform: translate(0);
		-webkit-transform: translate(0);
		-moz-transform: translate(0);
		-ms-transform: translate(0);
		-o-transform: translate(0);
	}
}
